body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0b032d;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#navbar li {
    margin-right: 20px;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

#navbar a:hover {
    color: #f67e7d;
}

#profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px; /* Adjusted to make space for the fixed navbar */
    padding: 20px;
}

#profile-picture {
    margin-bottom: 10px;
}

#profile-info {
    max-width: 400px;
    font-family: 'Open Sans', sans-serif;
}

.section {
    padding: 20px;
}

.section h2 {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    border-bottom: 1px solid #ccc;
}
