body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#profile-container {
    display: flex;
    align-items: center;
}

#profile-picture {
    border-radius: 50%;
    margin-right: 20px;
}

#profile-info {
    max-width: 400px;
}